# Environments
backend/venv/
venv/
env/
.env


# API Keys and Secrets
*.env
.env.*
credentials.json

# Python Cache
__pycache__/
*.py[cod]
*$py.class
validation_*.py

# Mac OS junk (just in case)
.DS_Store